.image-slider{

}

.image-button{
    justify-content: center;
    top: 10px;
    left: 10px;
    height: 50px;
    width: 50px;
    position: absolute;
    border-radius: 50%;
    border: 0;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(236, 236, 236, 75%);

}

.controls button{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 0
}

.info-box{
    position: absolute;
    left: 30px;
    top: 70px;
    background-color: rgba(236, 236, 236, 75%);
    padding: 5px;
    border-radius: 10px;
}

.controls-wrapper {
    background-color: rgba(236, 236, 236, 75%);
    border-radius: 16px;
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.controls {
    display: flex;
    align-items: center;
    gap: 10px;
}
.controls-overlay {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}




